language: python
python:
- '3.6'
before_install:
- sudo apt-get update -qq
install:
- pip install -r requirements.txt
- sudo apt-get install sshpass lftp build-essential fakeroot dpkg-dev libcurl4-openssl-dev
- mkdir ~/.lftp
script: make publish
env:
  global:
    secure: M5sR3fX0CkmPPrinGSG5imD3Ow8iXP03xxcR9B8sgq4XpLt0FCLP/u/VOJ9NHxbi9fmAmBbabT7eAE4FRUdyXF0li7GFJHgnjDhmDm1aEW2iB0bkKH9jWgZIwhs9VFRBHLFxj4HYQ0rXqBJw9RgfIdtMX2Vr+5laR0+pPu+g2qzr/AKBKR1nIO1HHGsVIajM9Ho/EgdbAJ4DL+2y4zUbPdNRvnv7giCFUgfye4KB8q1LHYRwbV/v+4z51EJdNVMOTJzinpIMQSHywphgv/yjRE/+iJvL93R5giyZDwYShEqLuHpUM/Eb46KWZ8ju/D5IHXfL0yzk30UcOwaBhDw2dx3YpqtY/hvcARq+HYMcUXOQu9eXVpePSsWRW1VmAr6zbBiFHlm94NzZVN+E6BhGizXkepVPmUyFyy7vKX66qgKZC5iHSleIpQQNQIvallJbeh2HiRuvEDEGAqhoeJDVZCLx1tXNv3YNb6Qc8sKOD6rkOD+YzUxZst8Hce23ZCDvB6BkkUH6VYwC4cqryqlRee3IS9/M9qKPL5VQ+8r8aDPVykmUQr30MhPqlHv0f2Nd/xm1IGflHxHiz08qOlVbVegV1VigHGBECUc5L4CrUOkRFtLvRXgjNlTu3yKJJNlBTBPxmLTKyDSF3s8rUfDp3nqNExtthFrx3WG/TBtqp7U=
after_success:
- echo -e "Host sriramanavidyapeedam.org\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- echo -e "set ssl:check-hostname false\nset ssl:verify-certificate no\n" >> ~/.lftp/rc
- test "${TRAVIS_PULL_REQUEST}" = "false" -a "${TRAVIS_BRANCH}" = "master" && make ftp_direct_upload || false
